@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body {
  background: rgb(0, 0, 0);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:12vh;
}

h1 {
  text-align: center;
  margin: 10px;
  color: azure;
}

.reader_col {
  border-radius: 15px;
  overflow: hidden;
}

#reader__scan_region>video{
  border-radius: 10px;
}

#reader__dashboard_section #reader__dashboard_section_csr span button {
  background-color: #183D3D !important;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

#reader {
  min-width: 50vw;
  border: none !important;
}

.result_col {
  border: solid black 1px;
  min-width: 40vw;
  max-width: 500px;
  border-radius: 10px;
  padding: 30px;
  color: black;
  background-color: #5C8374;
  /* background-color: rgba(0,100,1,1) ; Success */
  /* background-color: rgba(129,8,8,1) ; Failure */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  outline-offset: -2px;
}

.result_col h4 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 7px;
  border-bottom: dashed white 4px;
}

.result {
  /* background-color: green; */
  color: #fff;
  padding: 20px;
  border: dashed white 2px;
  word-wrap: break-word;
  width: -webkit-fill-available;
  display: flex;
  gap: 10px;

}

.d1{
  color: black;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.mid,.d2{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.mid>p,.d2>p{

  padding: 10px;
}

.d1>p{
  padding: 10px;
  background-color: #183d3d9e;
  border-radius: 7px;
}

#capture{
  padding: 10px;
  font-size: large;
  background-color: #183d3d9e;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  width: -webkit-fill-available;
  color: antiquewhite;
  letter-spacing: 2px;
}

#result {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}

#reader__dashboard {
  background-color: rgba(0, 0, 0, 1);
}

#reader__scan_region {
  /* background-color: burlywood; */
  border-radius: 5px;
  overflow: hidden;
}

#reader__dashboard_section_swaplink {
  margin-top: 10px;
  /* background-color: darkgoldenrod !important; */
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none !important;
  color: black;
  margin-bottom: 5px;
}

#reader__dashboard_section_csr div button {
  margin-bottom: 15px;
  background-color: transparent !important;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none !important;
  color: black;
}

.next_scan {
  background-color: rgba(34, 70, 213, 1) !important;
  border-radius: 5px;
  outline: dashed rgba(34, 70, 213, 1) 4px;
  outline-offset: -2px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none !important;
  color: white;
}

.data {
  margin-top: 20px;
  text-overflow: wrap;
  background-color: firebrick;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  color: white;
  outline: dashed rgba(34, 70, 213, 1) 4px;
  outline-offset: -2px;
  text-align: center;
  word-wrap: break-word;

  max-height: 150px;
  overflow-y: scroll;
  line-height: 25px;
}

.data:last-child {
  text-transform: capitalize;
}